@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    background: linear-gradient(135deg, #FFFFF1, #F7F7E8);
    background-blend-mode: soft-light;
    box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.5);
}

.poppins-xxlarge {
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-extralight {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: normal;
}

.foot {
    font-family: 'Poppins', sans-serif;
    font-size: x-small;
    font-style: italic;
}

table {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    border: solid black 1px;
    border-radius: 10px;
    border-collapse: separate;
    width: 100%;
    background-color:white
}

/* Rounded border */
hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

#types {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    gap: 10px; /* Adds spacing between items */
    align-items: start; /* Aligns items to the top */
}

#types p {
    margin: 0; /* Removes default paragraph margins */
    padding: 5px; /* Optional: Adds some padding */
    border: 1px solid #eee; /* Optional: For visual clarity */
    border-radius: 4px; /* Optional: Rounded corners */
}